:root {
    --font: "Goudy_Heavyface_Condensed";
    --base-font-size: 16px; 
}


@font-face {
    font-family: 'Goudy Heavyface Condensed';
    src: url(../typografie/Goudy_Heavyface_Condensed.ttf);
}


@font-face {
    font-family: 'HindMadurai'; 
    src: url('HindMadurai-Regular.ttf') format('truetype'); 
  }
  

body {
    font-family: 'Goudy Heavyface Condensed', sans-serif;
    background-color: orangered;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 55px; 
    margin-right: 55px; 
    overflow-x: hidden;
}


.column {
    width: 100%; 
    margin-top: 1em;
   
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1.25rem; 
    
}


h1 {
    font-size: 5.625rem; 
    font-weight: bold; 
    margin-top: 1.25rem; 
    margin-bottom: 0em;
    margin-right: 5em;
   margin-left: 0;
}


br {
    content: "";
    display: block;
    border: none;
    border-top: 0.125rem solid #000; 
}


h2{
    font-size: 2rem; 
    text-align: left;
    padding-left: unset;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 2rem;
    
}


#first-h2 {
    text-align: right;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 3em;
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 1s ease, transform 1s ease; 
    animation: slideInFromRight 1.5s ease; 
    opacity: 1; 
    transform: translateX(0); 
}
 
  
p {
    font-family: "HindMadurai", sans-serif;
    font-size: 18px;
}
  

.column > p:nth-child(3) {
    font-size: 1.25rem; 
}


@media screen and (max-width: 48rem) {
    .container {
        grid-template-columns: 1fr; 
    }

}


img{
    width: 25rem;
    margin-top: 5.5rem;
    margin-left: 4em;
}

#tweede-img{
    width: 35rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
}
#derde-img{
    width: 18rem; 
    height: auto; 
    margin-top: 2rem;
    padding-left: 4rem;
}


#vierde-img{
    width: 40rem; 
    height: auto;
    margin-left: -2rem;
    margin-top: -0.2rem;
}


#vijfde-img{
    width: 22rem; 
    height: auto; 
    margin-left: 6rem; 
    margin-top: 1rem;
}


#ges{
    margin-top: 2em;
}


.slide-in {
    overflow: hidden;
    position: relative;
    width: 100%;
    left: 0;
}


h1 {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity  1s ease, transform 1s ease;
    
}


  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.slide-in h1 {
    animation: slideInFromLeft 2s ease; 
    opacity: 1; 
    transform: translateX(0); 
    left: -15vw; /* Adjust the left position as needed */
}
  
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
   }
  

  /* CSS for spinning the image */
@keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
}
  
  
img.spin {
    animation: spin 30s linear infinite; 
}
  

@font-face {
    font-family: 'Goudy Heavyface condensed'; 
    src: url('Goudy_Heavyface_Condensed.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
}
  
 
#fontInput {
    font-family: 'Goudy Heavyface condensed'; 
    src: url('Goudy_Heavyface_Condensed.ttf') format('ttf'); 
    border: none; 
    border-bottom: 5px solid black; 
    background: transparent; 
    font-size: 31px;
    padding: 14px;
    width: 65%; 
    outline: none; 
    margin-top: 4.5em;
    margin-left: 2.5em;
}

  

#fontInput::placeholder {
    color: white; 
}

#last{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
  /*bronnen

  font goudy: https://www.fontsplace.com/goudy-heavyface-condensed-bt-free-font-download.html
  sub font: https://fonts.google.com/specimen/Hind+Madurai

  photo's: http://luc.devroye.org/fonts-61704.html
  https://fontsinuse.com/uses/8573/the-military-philosophers
  https://fontsinuse.com/uses/2176/apple-advertising-of-the-1970s-80s